*-blx.bib
*.asv
*.aux
*.bbl
*.bcf
*.bib_*.utf8
*.blg
*.dvi
*.ent
*.fff
*.fls
*.png
out_figures
*.glo
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.mod
*.nav
*.o
*.out
*.pdf
*.pdfsync
*.prj
*.pyc
*.run.xml
*.snm
*.sublime-*
*.svn
*.tmproj
*.toc
*.ttt
*.vrb
.waf*
waf-*
waf3-*
*latexmk
*synctex.gz
.*
!.environment.osx.yml
!.environment.windows.yml
!.environment.linux.yml
!.env
.*pdfsvn
__pycache__
analysis_out
bld
build
debug
Debug
final_out
formatted_data
project_documentation
scons.py
test
Test
textmatetostata.do
fake
full
bld_old
~$*
Thumbs.db
___*
!.gitignore
!.mywaflib
.env/workaround.bat
.env/installed_conda_pkgs
.env/installed_pip_pkgs
.env/installed_spec.json
!.pre-commit-config.yaml
venv
q_env
staticfiles
pbs_output
./db.sqlite3
.idea
*~
*.sqlite3
_static_root
_bots*s
__temp*
__pycache__/
*.py[cod]
.DS_Store
env
.cache
env_test
desktop.ini
*.pickle
*.sh.e*
*.sh.o*
old
bld
*.pdf
*.feather
*.prof
.ipynb_checkpoints